.text-justify {
    text-align: justify;
}

.show-password-icon {
    right: .7rem;
}

.print-d-flex {
    display: none;
}

.text-indent-2 {
    text-indent: 2rem;
}

@media print {
    .container {
        margin: 0;
        max-width: 100%;
    }

    nav {
        display: none !important;
    }

    .print-d-none {
        display: none !important;
    }

    .print-d-flex {
        display: flex;
    }
}